html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
page,
section {
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  font-family: "gt-america-standard-regular" !important;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: #000 !important;
  font-size: 17px;
}
button,
button:hover,
button:active,
button:focus {
  outline: none;
  border: 0;
  cursor: pointer;
}
.react-wrap,
.react-wrap > div,
#root {
  height: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: "gt-america-standard-regular";
  src: url("../fonts/gt-america-standard-regular.eot");
  src: url("../fonts/gt-america-standard-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gt-america-standard-regular.woff2") format("woff2"),
    url("../fonts/gt-america-standard-regular.woff") format("woff"),
    url("../fonts/gt-america-standard-regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.index.wrapper {
  max-width: 1500px;
}
#root .react-wrap-heightfix {
  height: calc(100% - 47px);
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}
.hidden {
  display: none !important;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-link:hover {
  text-decoration: underline;
}
.home {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
.home-content {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}
.home-content-item {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}
.home-content-item:hover .home-content-item__text {
  text-decoration: underline;
}
.home-content-item-imgbox {
  display: inline-block;
  padding: 0 5px;
}
.home-content-item__img {
  height: 31px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.home-content-item__img_block {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 300px;
}
.home-link-wrap:nth-of-type(2) .home-content-item__img.home-content-item__img_block,
.home-link-wrap:nth-of-type(5) .home-content-item__img.home-content-item__img_block,
.home-link-wrap:nth-of-type(14) .home-content-item__img.home-content-item__img_block,
.home-link-wrap:nth-of-type(15) .home-content-item__img.home-content-item__img_block,
.home-link-wrap:nth-of-type(19) .home-content-item__img.home-content-item__img_block {
  min-height: 800px;
}

.home-link-wrap:nth-of-type(2) .home-content-item__img.home-content-item__img_prew,
.home-link-wrap:nth-of-type(5) .home-content-item__img.home-content-item__img_prew,
.home-link-wrap:nth-of-type(14) .home-content-item__img.home-content-item__img_prew,
.home-link-wrap:nth-of-type(15) .home-content-item__img.home-content-item__img_prew,
.home-link-wrap:nth-of-type(19) .home-content-item__img.home-content-item__img_prew {
  height: auto;
  width: 31px;
}
.home-content-item__img_hover {
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 400px;
  height: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-link-wrap:nth-child(1) .home-content-item__img_hover {
  top: 200%;
}
.home-link-wrap:nth-child(2) .home-content-item__img_hover {
  top: 300%;
}
.home-link-wrap:nth-child(15) .home-content-item__img {
  max-height: 71px;
}
.home-link-wrap:nth-child(15) .home-content-item__img.home-content-item__img_hover {
  max-height: none;
}
.home-link-wrap:nth-child(16) .home-content-item__img {
  min-height: 30px;
}
.home-link-wrap:nth-child(19) .home-content-item__img_hover {
  top: -300%;
}
.home-content-item__text {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  font-size: 32px;
  line-height: 1.7;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.home-content-item-imgbox:hover .home-content-item__img {
  opacity: 0;
}
.home-content-item-imgbox:hover .home-content-item__img_hover {
  opacity: 1;
  display: block;
}

.header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 50px;

  position: fixed;
  min-width: 100%;
  z-index: 10;
  background-color: #fff;
}
.header > a {
  position: relative;
  z-index: 10;
}

.footer {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  z-index: 10;
  min-width: 100%;
  background-color: #fff;
}
.footer > a {
  position: relative;
  z-index: 10;
  padding: 30px 50px;
}
.index-link_slider {
  text-transform: uppercase;
}

.contact {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.contact-box {
  text-align: center;
}
.contact-box__heading,
.contact-box__email {
  margin: 0;
  font-size: 27px;
  line-height: 1.3;
  text-transform: uppercase;
}
.contact-box__email {
  text-transform: none;
}
.contact-box__email:hover {
  font-size: 27px;
  text-decoration: underline;
}

.info {
  padding: 150px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_projectinfo {
  height: calc(100% - 154px);
}

.info-content {
  text-align: center;
  max-width: 850px;
}
.info-content__heading {
  margin-bottom: 30px;
  font-size: 27px;
  line-height: 1.3;
}
.info-content__heading > span {
  margin-left: 35px;
}
.info-content__text {
  font-size: 27px;
  line-height: 1.3;
  margin-bottom: 120px;
}
.info-content__img {
  width: 400px;
  margin-bottom: 120px;
}

.slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(100% - 110px);
}
.slider {
  width: 100%;
  height: 80%;
}
.slider-slide__text {
  text-align: center;
  max-width: 850px;
  font-size: 27px;
  line-height: 1.3;
}
#root .slick-slider {
  height: calc(100% - 94px);
  padding: 30px 0;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick-dots li {
  position: relative;
  display: none;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li.slick-active {
  display: inline-block;
}
.slider-wrapper {
  position: relative;
}
.slider-counter {
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 100;
}

.slider-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
}
.slider-slide__img {
  max-width: 100%;
  max-height: 100%;
}

.index {
  padding: 0 20px;
  padding-bottom: 15px;
  height: auto;
  padding-top: 47px;
  padding-bottom: 100px;
}
.index-project-wrap {
  padding-top: 50px;
  margin-right: 25px;
  display: inline-block;
}
.index-project {
  /* opacity: 0;
  transition: all 500ms;
  transform: translateY(50%); */
}
.index-project-wrap__heading {
  font-size: 27px;
  line-height: 1.37;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.index-project-item {
  display: inline-block;
  margin-bottom: 35px;
  margin-right: 25px;

  position: relative;
}
.index-project-item:hover .index-project-item__img {
  opacity: 0;
}

.index-project-item:hover .index-project-item__img_progressive,
.index-project-item:hover .index-project-item__img_hover {
  display: inline-block;
  opacity: 1;
  z-index: 2;
}
.index-project-item__img,
.index-project-item__img_progressive,
.progressive-box {
  display: inline-block;
  width: 150px;
  height: auto;
  vertical-align: middle;
}

.index-project-item__img_progressive {
  display: none;
  transform: scale(1.5);
  filter: blur(2px);
}

.index-project-item__img.index-project-item__img_progressive,
.index-project-item__img.index-project-item__img_hover {
  margin: 0 auto;
  padding: 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  width: 300px;
  height: auto;
  transform: translate3d(-10%, -50%, 0);
  -webkit-transform: translate3d(-10%, -50%, 0);
  -ms-transform: translate3d(-10%, -50%, 0);
}

/* Slider */

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-slider .slick-next,
.slick-slider .slick-prev {
  z-index: 5;
  opacity: 0;
}
.slick-slider .slick-next {
  height: 100vh;
  width: 50vw;
  position: absolute;
  right: 0;
  cursor: url("../images/arr-right.svg"), auto;
}
.slick-slider .slick-prev {
  height: 100vh;
  width: 50vw;
  position: absolute;
  cursor: url("../images/arr-left.svg"), auto;
  left: 0;
}

@media screen and (max-width: 1550px) {
  .index-content {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .info {
    padding: 50px 20px 0;
  }
  .info-content__text {
    margin-bottom: 50px;
  }
  .info-content__img {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 820px) {
  .home-content-item__text {
    font-size: 24px;
    line-height: 1.1;
  }
  .home-content-item {
    margin-bottom: 10px;
  }
  .home-content-item__img,
  .home-link-wrap:nth-child(15) .home-content-item__img {
    width: 36px;
    max-height: 30px;
  }
  .home-content-item__img.home-content-item__img_hover {
    max-height: none;
  }
  .slider-slide__text {
    font-size: 22px;
  }
  a,
  a:hover,
  a:visited {
    font-size: 16px;
  }
  .contact-box__email:hover {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .info {
    padding: 0px 20px;
    height: 100%;
  }
  .info-content__text,
  .info-content__heading {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .info-content__img {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .home-content {
    text-align: left;
  }
  .home {
    height: auto;
    padding: 80px 20px;
  }
  .index-project-item__img.index-project-item__img_hover {
    max-width: 250px;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
  }
}
@media screen and (max-width: 380px) {
  .index {
    padding: 0 10px;
  }
  .index-project-wrap {
    margin-right: 0;
  }
  .index-project-wrap:first-of-type {
    padding-top: 60px;
  }
  .index-project-wrap__heading {
    font-size: 16px;
  }
  .index-content {
    padding-left: 0px;
  }
  .info {
    padding-top: 90px;
    padding-bottom: 50px;
    height: auto;
  }
  .info_projectinfo {
    height: 100%;
    padding: 0 20px;
  }
  .info-content__img {
    width: 100%;
  }
  .contact {
    height: 100%;
  }
  .header {
    padding: 20px 20px;
  }
  .footer a {
    padding: 20px 20px;
  }
  .index-project {
    margin-right: 0px;
  }
  .index-project-item {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .index-project-item__img {
    width: 75px;
  }
  .slider-slide__text {
    font-size: 16px;
  }
  .contact-box__heading,
  .contact-box__email {
    font-size: 15px;
  }
  .slider-counter {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
}
@media screen and (max-width: 320px) {
  .index {
    padding: 0 20px;
  }
}
@media screen and (max-width: 820px) and (max-height: 400px) {
  .index-project {
    margin-bottom: 0px;
  }
  .info-content__text {
    font-size: 20px;
  }
  .info {
    padding: 50px 30px;
    padding-top: 90px;
  }
}
@media screen and (max-height: 820px) {
  .home-content-item__img {
    width: 40px;
  }
  .home-content-item__img.home-content-item__img_hover {
    width: 400px;
  }
}
@media screen and (max-height: 700px) {
  .home {
    padding: 80px 20px;
    height: auto;
  }
}
@media screen and (max-width: 570px) and (max-height: 320px) {
  .info {
    height: auto;
  }
  .slider-slide__text {
    font-size: 16px;
  }
}

.fade {
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms;
}
